/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <st/f4/stm32f405Xg.dtsi>
#include <st/f4/stm32f405rgtx-pinctrl.dtsi>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	model = "HelloWord HW-75 Dynamic";
	compatible = "st,stm32f405";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
		zephyr,display = &oled;
		zmk,kscan = &kscan;
		zmk,underglow = &led_strip;
	};

	aliases {
		uart-comm = &slip;
		eink = &eink;
		knob = &knob;
	};

	oled: display-sw-rotate {
		compatible = "zmk,display-sw-rotate";
		width = <32>;
		height = <128>;
		display = <&ssd1306>;
	};

	eink: eink-sw-rotate {
		compatible = "zmk,display-sw-rotate";
		width = <128>;
		height = <296>;
		display = <&ssd16xx>;
		buffer-lines = <128>;
	};

	kscan: kscan {
		compatible = "zmk,kscan-gpio-direct";
		input-gpios =
			<&gpioc 8 GPIO_ACTIVE_LOW>,
			<&gpioc 9 GPIO_ACTIVE_LOW>;
	};

	led_strip: led-strip-remap {
		compatible = "zmk,led-strip-remap";

		chain-length = <4>;
		led-strip = <&ws2812>;
		map = <0 3 2 1>;

		status {
			label = "STATUS";
			led-indexes = <3 2 1>;
		};
	};

	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&knob>;
	};

	knob: knob {
		compatible = "zmk,knob";
		label = "KNOB";
		motor = <&motor>;

		#address-cells = <1>;
		#size-cells = <0>;

		profile_disable: disable@0 {
			compatible = "zmk,knob-profile-disable";
			reg = <0>;
		};

		profile_inertia: inertia@1 {
			compatible = "zmk,knob-profile-inertia";
			reg = <1>;
			torque-limit-mv = <1500>;
			velocity-pid = <300 0 0>;
			angle-pid = <20000 0 700>;
		};

		profile_encoder: encoder@2 {
			compatible = "zmk,knob-profile-encoder";
			reg = <2>;
			torque-limit-mv = <300>;
			velocity-pid = <20 0 0>;
			angle-pid = <100000 0 3500>;
		};

		profile_spring: spring@3 {
			compatible = "zmk,knob-profile-spring";
			reg = <3>;
			torque-limit-mv = <1500>;
			velocity-pid = <50 0 0>;
			angle-pid = <100000 0 3500>;
			minimal-movement-deg = <20>;
		};

		profile_damped: damped@4 {
			compatible = "zmk,knob-profile-damped";
			reg = <4>;
			torque-limit-mv = <1500>;
			velocity-pid = <50 0 0>;
			angle-pid = <100000 0 3500>;
		};

		profile_spin: spin@5 {
			compatible = "zmk,knob-profile-spin";
			reg = <5>;
			torque-limit-mv = <1500>;
			velocity-pid = <300 0 0>;
		};

		profile_ratchet: ratchet@6 {
			compatible = "zmk,knob-profile-ratchet";
			reg = <6>;
			torque-limit-mv = <2500>;
			velocity-pid = <50 0 0>;
			angle-pid = <100000 0 3500>;
		};

		profile_switch: switch@7 {
			compatible = "zmk,knob-profile-switch";
			reg = <7>;
			torque-limit-mv = <1500>;
			velocity-pid = <50 0 0>;
			angle-pid = <100000 0 3500>;
			on-off-distance-deg = <80>;
		};
	};

	motor: motor {
		compatible = "zmk,motor";
		inverter = <&inverter>;
		encoder = <&as5047>;
	};

	slip: slip {
		compatible = "zmk,uart-slip";
		uart = <&usart2>;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <168>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_miso_pb4 &spi1_mosi_pb5 &spi1_sck_pb3>;
	pinctrl-names = "default";
	status = "okay";

	cs-gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;

	as5047: as5047@0 {
		compatible = "ams,as5047";

		reg = <0>;
		spi-max-frequency = <1000000>;

		cs-delay-us = <350>;
		init-delay-us = <10000>;
	};
};

&spi2 {
	pinctrl-0 = <&spi2_mosi_pc3 &spi2_sck_pb10>;
	pinctrl-names = "default";
	status = "okay";

	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	ssd16xx: ssd16xx@0 {
		compatible = "solomon,ssd1675a";

		reg = <0>;
		spi-max-frequency = <4000000>;

		width = <296>;
		height = <128>;

		reset-gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;

		full {
			/* VGH = 19V */
			gdv = [15];

			/* VSH1 = 15V, VSH2 = 5V, VSL = -15V */
			sdv = [41 a8 32];

			/* VDB = LUT3 */
			border-waveform = <0x03>;

			/* 128x296, 50Hz */
			dummy-line = <0x30>;
			gate-line-width = <0x0a>;
		};
	};
};

&spi3 {
	pinctrl-0 = <&spi3_mosi_pc12>;
	pinctrl-names = "default";
	status = "okay";

	ws2812: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		reg = <0>;
		spi-max-frequency = <4000000>;

		chain-length = <4>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";

	clock-frequency = <100000>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";

		reg = <0x3C>;

		width = <128>;
		height = <32>;

		segment-offset = <2>;
		page-offset = <0>;
		display-offset = <16>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		prechargep = <0xf1>;
	};
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
};

&timers1 {
	status = "okay";

	pwm {
		pinctrl-0 = <
			&tim1_ch1_pa8
			&tim1_ch2_pa9
			&tim1_ch3_pa10
			&tim1_ch1n_pb13
			&tim1_ch2n_pb0
			&tim1_ch3n_pb1
		>;
		pinctrl-names = "default";
		status = "okay";
	};

	inverter: inverter {
		compatible = "zmk,inverter-stm32";
		enable-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
		pwm-period = <4199>;
		pwm-channels = <1 2 3>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		bootloader_partition: partition@0 {
			label = "bootloader";
			reg = <0x00000000 DT_SIZE_K(32)>;
		};

		storage_partition: partition@8000 {
			label = "storage";
			reg = <0x00008000 DT_SIZE_K(32)>;
		};

		code_partition: partition@10000 {
			label = "code_partition";
			reg = <0x00010000 DT_SIZE_K(320)>;
		};
	};
};
