# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

# SoC
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

# Key scanning　
CONFIG_ZMK_KSCAN_DIRECT_POLLING=y

# Display
CONFIG_ZMK_DISPLAY=y
CONFIG_ZMK_DISPLAY_STATUS_SCREEN_CUSTOM=y
CONFIG_ZMK_WIDGET_LAYER_STATUS=n
CONFIG_ZMK_WIDGET_BATTERY_STATUS=n
CONFIG_ZMK_WIDGET_OUTPUT_STATUS=n
CONFIG_ZMK_WIDGET_PERIPHERAL_STATUS=n
CONFIG_ZMK_WIDGET_WPM_STATUS=n
CONFIG_LV_USE_THEME_MONO=n
CONFIG_LV_USE_THEME_BASIC=y

# E-Ink
CONFIG_SSD16XX=n
CONFIG_HW75_SSD16XX=y

# RGB
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=2
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y
CONFIG_HW75_INDICATOR_BRIGHTNESS_ACTIVE=5
CONFIG_HW75_INDICATOR_BRIGHTNESS_INACTIVE=1

# Sensor
CONFIG_KNOB=y

# Storage
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y

# System
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_NEWLIB_LIBC=y
CONFIG_CBPRINTF_COMPLETE=y
CONFIG_CBPRINTF_FP_SUPPORT=y
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

# USB
CONFIG_USB_DEVICE_MANUFACTURER="HelloWord"
CONFIG_USB_DEVICE_PRODUCT="HW-75 Dynamic"
CONFIG_USB_HID_DEVICE_COUNT=3
CONFIG_HW75_HID_MOUSE=y
CONFIG_HW75_HID_MOUSE_DEVICE_NAME="HID_2"
