# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config HW75_PROTO
	bool "Nanopb generated sources"

config HW75_PROTO_USB_COMM
	bool
	select HW75_PROTO

config HW75_PROTO_UART_COMM
	bool
	select HW75_PROTO
