# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config HW75_USB_COMM
	bool
	depends on USB_DEVICE_DRIVER
	select USB_DEVICE_BOS
	select HW75_PROTO_USB_COMM
	default y

if HW75_USB_COMM

config HW75_USB_COMM_MAX_TX_MESSAGE_SIZE
	int
	default 4096

config HW75_USB_COMM_MAX_RX_MESSAGE_SIZE
	int
	default 8192

config HW75_USB_COMM_MAX_BYTES_FIELD_SIZE
	int
	default 8192

module = HW75_USB_COMM
module-str = usb_comm
source "subsys/logging/Kconfig.template.log_config"

endif # HW75_USB_COMM
