# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

# SoC
CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

# RGB
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y
CONFIG_ZMK_RGB_UNDERGLOW_BRT_MAX=15
CONFIG_HW75_INDICATOR_BRIGHTNESS_ACTIVE=255
CONFIG_HW75_INDICATOR_BRIGHTNESS_INACTIVE=10

# Storage
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y

# System
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_HEAP_MEM_POOL_SIZE=1024

# USB
CONFIG_USB_DEVICE_MANUFACTURER="HelloWord"
CONFIG_USB_DEVICE_PRODUCT="HW-75 Keyboard"
CONFIG_USB_HID_DEVICE_COUNT=2
