# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config HW75_USB_COMM
	default y
	select HW75_USB_COMM_FEATURE_RGB

if HW75_USB_COMM

config HW75_USB_COMM_MAX_TX_MESSAGE_SIZE
	int
	default 64

config HW75_USB_COMM_MAX_RX_MESSAGE_SIZE
	int
	default 64

endif # HW75_USB_COMM
