# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

DT_COMPAT_ZMK_KSCAN_GPIO_74HC165 := zmk,kscan-gpio-74hc165

config ZMK_KSCAN_GPIO_74HC165
	bool
	default $(dt_compat_enabled,$(DT_COMPAT_ZMK_KSCAN_GPIO_74HC165))
	select ZMK_KSCAN_GPIO_DRIVER
	select SPI
