# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

# SoC
CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

# Buses
CONFIG_SPI=y
CONFIG_GPIO=y

# Logging
# CONFIG_LOG=y
# CONFIG_SERIAL=y
# CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE=y

# Key scanning
CONFIG_GPIO_STM32_SWJ_NOJTAG=y
CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y

# RGB
CONFIG_LED_STRIP=y
CONFIG_WS2812_STRIP=y
CONFIG_WS2812_STRIP_SPI=y
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

# Storage
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y
CONFIG_SETTINGS_NVS=y

# System
CONFIG_USE_DT_CODE_PARTITION=y

# USB
CONFIG_USB_DEVICE_MANUFACTURER="Xikii Industry"
CONFIG_USB_DEVICE_PRODUCT="Xikii HW-75"
