# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
	select LV_USE_LABEL
	select LV_USE_BTN
	select LV_USE_LIST
	select LV_USE_FLEX
	select LV_USE_PAGE
	select LV_USE_GROUP
	select LV_USE_ANIMATION
