# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

DT_ALIAS_UART_COMM := uart-comm

config HW75_UART_COMM
	bool
	select SERIAL
	select HW75_PROTO_UART_COMM
	default $(dt_alias_enabled,$(DT_ALIAS_UART_COMM))

if HW75_UART_COMM

config HW75_UART_COMM_MAX_TX_MESSAGE_SIZE
	int
	default 64

module = HW75_UART_COMM
module-str = uart_comm
source "subsys/logging/Kconfig.template.log_config"

endif # HW75_UART_COMM
