# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config KNOB
	bool "Sensor driver for FOC-emulated rotary encoder"
	select SENSOR
	select CMSIS_DSP
	select CMSIS_DSP_FASTMATH

if KNOB

config KNOB_THREAD_PRIORITY
	int "Thread priority"
	default 10
	help
	  Priority of thread used by the driver to poll frames.

config KNOB_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1024
	help
	  Stack size of thread used by the driver to poll frames.

config KNOB_MOTOR_INIT_PRIORITY
	int
	default 80

config KNOB_DRIVER_INIT_PRIORITY
	int
	default 70

rsource "inverter/Kconfig"
rsource "encoder/Kconfig"

endif # KNOB
