# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config HW75_UART_COMM
	bool
	select SERIAL
	select CONSOLE
	select UART_PIPE
	select HW75_PROTO_UART_COMM
	default y

if HW75_UART_COMM

config HW75_UART_COMM_THREAD_PRIORITY
	int
	default 10

config HW75_UART_COMM_THREAD_STACK_SIZE
	int
	default 1024

config HW75_UART_COMM_MAX_RX_MESSAGE_SIZE
	int
	default 64

module = HW75_UART_COMM
module-str = uart_comm
source "subsys/logging/Kconfig.template.log_config"

endif # HW75_UART_COMM
