# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

DT_COMPAT_ZMK_LED_STRIP_REMAP := zmk,led-strip-remap

config LED_STRIP_REMAP
	bool "A virtual LED strip driver for reordering LEDs, with extended APIs to override status of individual LED"
	default $(dt_compat_enabled,$(DT_COMPAT_ZMK_LED_STRIP_REMAP))
	depends on LED_STRIP
